.gallery-inner {
  display: grid;
  grid-template-columns: auto;
  @mixin lg-mobile {
    grid-template-columns: auto auto;
  }
  @mixin tab {
    grid-template-columns: auto auto auto;
  }
  @mixin sm-desktop {
    grid-template-columns: auto auto auto auto;
  }
  @mixin lg-desktop {
    grid-template-columns: auto auto auto auto auto;
  }

  .gallery-card {
    margin: 20px;
  }
}
.gallery-featured {
  background: $offwhite;
}

.gallery-card {
  position: relative;
  overflow: hidden;
  /* background: #000; */
  a {
    display: block;
    text-decoration: none;
    color: $black;
    font-family: $text-family;
    font-weight: 300;
  }
  img {
    display: block;
    width: 100%;
  }
  figcaption {
    width: 100%;
    font-size: 1.6rem;
    padding: 20px 0;
    text-align: center;
  }
}
