footer {
  background: $brown;
  .footer {
    display: grid;
    grid-template-columns: auto;
    row-gap: 60px;
    justify-content: space-between;
    padding: 60px 0;
    @mixin lg-mobile {
      grid-template-columns: auto auto;
    }
    @mixin tab {
      grid-template-columns: auto auto auto;
    }
    @mixin sm-desktop {
      grid-template-columns: auto auto auto auto;
    }
  }
  ul {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    li {
      list-style: none;
      overflow: hidden;
      h3 {
        color: $offwhite;
      }
      a {
        display: block;
        color: $offwhite;
        text-decoration: none;
        font-size: 1rem;
        padding: 5px 10px;
        font-family: $text-family;
        background-size: cover;
      }
    }
    img.icon {
      width: 32px;
      height: 32px;
      display: inline-block;
      background-size: cover;
      margin-right: 5px;
      @mixin sm-desktop {
        width: 64px;
        height: 64px;
      }
    }
    &.social {
      flex-direction: row;
      align-items: center;
    }
  }
}
