header h1 {
  display: block;
  text-align: center;
  padding: 1.5rem 0;
  position: relative;
}
h1:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translatex(-50%);
  width: 300px;
  height: 2px;
  background: $brown;
}
