body {
  overflow-x: hidden;
}
header {
  .nav-brand {
    text-align: center;
    background: $offwhite;
    display: flex;
    /* justify-content: center; */
    justify-content: space-around;
    align-items: center;
    img {
      width: 200px;
      display: block;
    }
  }

  /* Model and toggle button */
  .hb {
    width: 64px;
    stroke: $brown;
    z-index: 3;
  }
  .model {
    width: 110vw;
    height: 110vh;
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    right: 100%;
    z-index: 1;
    transition: right 300ms ease-in-out;
    &.open {
      right: 0;
    }
  }
}

/* Side Drawer and menu items */
nav {
  background: $offwhite;
  padding: 74px 20px 0 15px;
  position: fixed;
  top: 0;
  right: -230px;
  width: 200px;
  height: 100%;
  z-index: 2;
  transition: right 0.3s ease-in-out;
  &.open {
    right: 0;
    &:after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
    }
  }
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;

  li {
    text-transform: uppercase;
    &:hover a.active:after {
      width: 4px;
    }
    a {
      text-decoration: none;
      display: block;
      padding: 10px 15px;
      color: $black;
      font-family: jost;
      font-weight: 300;
      transition: background 300ms;
      &:hover {
        background: $brown;
        color: $offwhite;
      }
      &.active {
        font-weight: 400;
        position: relative;
        &:after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 3px;
          height: 100%;
          background: $brown;
          transition: width 300ms;
          backface-visibility: hidden;
        }
      }
    }
  }
}
