/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jost:wght@300;400&family=Julius+Sans+One&display=swap");

$h-family: "Julius Sans One";

$text-family: "Jost";

$brown: #693513;

$black: #4a4a4a;

$offwhite: #f5f5f5;

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $h-family;
  color: $brown;
}

p {
  font-family: $text-family;
  color: $black;
  font-weight: 300;
}
