$h-family: "Julius Sans One";

$text-family: "Jost";

$brown: #693513;

$black: #4a4a4a;

$offwhite: #f5f5f5;

html,
body {
  width: 100vw;
  height: 100vh;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}
.clearfix:after {
  content: "";
  clear: both;
  display: table;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.wrapper {
  padding: 0 8px;
}

p {
  font-size: 1.4rem;
  line-height: 1.4em;
}

h1 {
  font-size: 3em;
}

.btn {
  padding: 0.7em 2em;
  font-family: $text-family;
  font-size: 1.3em;
  font-weight: bold;
  border: none;
  cursor: pointer;
  margin: 30px 0;
}

.btn-brown {
  color: $brown;
  border-radius: 100px;
  border: 1px solid $brown;
  &:hover {
    background: $brown;
    color: $offwhite;
  }
}

section {
  padding: 30px 0;
}

section.p-t-0 {
  padding-top: 0px;
}

section.p0 {
  padding: 0px;
}

.text-center {
  text-align: center;
}
